<h1> Registration for Businesses </h1>

<form action="/businessRegister" method="POST">
	<input type="text" id="name" name="name"
		placeholder="business name"><br>
    <input type="password" name="password"
		placeholder="password"><br>
        <h4>select type of material you mostly deal with</h4>
    <input type="radio" name="businessType" id="businessType" value="plastics">plastics <br>
    <input type="radio" name="businessType" id="businessType" value="electronics">electronics <br>
	<button type="submit">Submit</button>
</form>

<li><a href="/businessLogin">Login</a></li>