<!-- products.ejs -->

<!DOCTYPE html>
<html>
<head>
  <title>Waste List</title>
</head>
<body>
  <h1>Waste List</h1>
  <ul id="WasteList"></ul>

  <script>
    // JavaScript to fetch and render product data
    async function fetchWaste() {
      try{
          const response = await fetch('/businessBrowse');
          const waste = await response.json();

          const wasteListElement = document.getElementById('WasteList');
          
          //using map to list the fetched elements
          const wasteItems = waste.map(waste=> {
            return `
              <li>
                <strong>${waste.wasteType}</strong><br> 
                <img src="${waste.imageDataBase64}" alt="Waste Image" width="300"><br>
                Quantity: ${waste.quantity}<br>
                Description: ${waste.description}<br>
                </li>
                `;
          });

          wasteListElement.innerHTML = wasteItems.join('')
      }catch(error) {
        console.log(`encountered the following error while fetching: ${error}`);
      }
    }

    fetchWaste();
    
  </script>

</body>
</html>