<!-- products.ejs -->

<!DOCTYPE html>
<html>
<head>
  <title>Waste List</title>
</head>
<body>
  <h1>Waste List</h1>
  <ul id="WasteList"></ul>

  <script>
    // JavaScript to fetch and render product data
    fetch('/businessBrowse')
      .then(response => response.json())
      .then(products => {
        const productListElement = document.getElementById('WasteList');
        products.forEach(waste => {
          const listItem = document.createElement('li');
          listItem.textContent = `${waste.wasteType} - ${waste.quantity} - ${waste.description}`;
          productListElement.appendChild(listItem);
          
        });
      })
      .catch(error => {
        console.error('Error fetching products:', error);
      });
  </script>

</body>
</html>