<!-- waste.ejs -->

<!DOCTYPE html>
<html>
<head>
  <title>Waste List</title>
  <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
  <h1>Waste List</h1>
  <ul id="WasteList"></ul>

  <script>
    // Function to handle the click event and send data
    function handleItemClick(wasteId) {
            console.log(wasteId);
          // Create a URL for the "/wasteView" route with the wasteId as a query parameter
          const url = `/wasteView?wasteId=${wasteId}`;

          // Navigate to the "/wasteView" route
          window.location.href = url;
          }

    // JavaScript to fetch and render product data
    async function fetchWaste() {
      try{
          const response = await fetch('/businessBrowse');
          const waste = await response.json();

          const wasteListElement = document.getElementById('WasteList');
          
          //using map to list the fetched elements
          const wasteItems = waste.map(waste=> {
            return `
              <li>
                <a href="#" onclick="handleItemClick('${waste._id}')">
                <strong>${waste.wasteType}</strong><br> 
                <img src="${waste.imageDataBase64}" alt="Waste Image" width="300"><br>
                Quantity: ${waste.quantity}<br>
                Description: ${waste.description}<br>
                </li>
                </a>
                `;
          });

          wasteListElement.innerHTML = wasteItems.join('')
      }catch(error) {
        console.log(`encountered the following error while fetching: ${error}`);
      }
    }

    fetchWaste();
    
  </script>

</body>
</html>