<!-- products.ejs -->

<!DOCTYPE html>
<html>
<head>
  <title>Waste List</title>
</head>
<body>
  <h1>Waste List</h1>
  <ul id="WasteList"></ul>

  <script>
    // JavaScript to fetch and render product data
    async function fetchWaste() {
      try{
          const response = await fetch('/businessBrowse');
          const waste = await response.json();

          const wasteListElement = document.getElementById('WasteList');

          //looping statement *** needs to be optimized
          waste.forEach(waste => {
            const listItem = document.createElement('li');
            listItem.textContent = `${waste.wasteType} - ${waste.quantity} - ${waste.description}`;
            wasteListElement.appendChild(listItem);
          });
      }catch(error) {
        console.log(`encountered the following error while fetching: ${error}`);
      }
    }
  </script>

</body>
</html>