<h1>login</h1>

<form action="/consumerLogin" method="POST">
	<input type="text" name="username"
		placeholder="full name"><br>
    <input type="password" name="password"
		placeholder="Password"><br>
	<button>login</button><br>
</form>

<li><a href="forgot.ejs">Forgot password</a></li>
<li><a href="/consumerRegister">Sign up!!</a></li>