<!-- products.ejs -->

<!DOCTYPE html>
<html>
<head>
  <title>Product List</title>
</head>
<body>
  <h1>Products</h1>
  <ul id="products"></ul>

  <script>
    // JavaScript to fetch and render product data
    fetch('/consumerBrowse')
      .then(response => response.json())
      .then(products => {
        const productListElement = document.getElementById('products');
        products.forEach(product => {
          const listItem = document.createElement('li');
          listItem.textContent = `${product.productName} - ${product.quantity} - ${product.description}`;
          productListElement.appendChild(listItem);
          
        });
      })
      .catch(error => {
        console.error('Error fetching products:', error);
      });
  </script>

</body>
</html>