<!-- products.ejs -->

<!DOCTYPE html>
<html>
<head>
  <title>Product List</title>
</head>
<body>
  <h1>Products</h1>
  <ul id="products"></ul>

  <script>
    // JavaScript to fetch and render product data
    async function fetchProducts() {
        try{
            const response = await fetch('/consumerBrowse');
            const products = await response.json();
            console.log(products);
            const productListElement = document.getElementById('products');

            // the loop statement needs to be optimized
            products.forEach(products => {
                const listItem = document.createElement('li');
                listItem.textContent = `${products.productName} - ${products.quantity} - ${products.description}`;
                productListElement.appendChild(listItem);
        });
    } catch (error) {
        console.log(`encountered the following error while fetching products: ${error}`);
    }}

    fetchProducts();
    
  </script>

</body>
</html>