Welcome to Your Dashboard <%= consumerName %> <br>

<a href="/consumerSell/<%= consumerName %>">Sell waste</a><br>
<a href="/consumerBrowse/consumerBrowseView">Browse Products</a><br>
<a href="/cart">View Items in the cart</a><br><br>

Your wallet Currently has: <%= tokens %> tokens
