<!-- consumerBrowse.ejs -->

<!DOCTYPE html>
<html>
<head>
  <title>Product List</title>
</head>
<body>
  <h1>Products</h1>
  <ul id="products"></ul>

  <script>
    async function fetchProducts() {
      try {
        const response = await fetch('/consumerBrowse');
        const products = await response.json();
        console.log(products);
        const productListElement = document.getElementById('products');

        const productItems = products.map(product => {
          return `
            <li>
              <strong>${product.productName}</strong><br>
              <img src="${product.imageDataBase64}" alt="Product Image" width="300"><br>
              Quantity: ${product.quantity}<br>
              Description: ${product.description}<br>
            </li>
          `;
        });

        productListElement.innerHTML = productItems.join('');
      } catch (error) {
        console.log(`Encountered the following error while fetching products: ${error}`);
      }
    }

    fetchProducts();
  </script>
</body>
</html>
