<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
	<div class="container">
		<h1> Sign up form </h1>

		<form action="/consumerRegister" method="POST">
			<input type="text" id="name" name="username"
				placeholder="full name"><br>
			<input type="text" id="No" name="No"
				placeholder="Phone Number"><br>
			<input type="text" id="email" name="email"
				placeholder="email"><br>
			<input type="password" name="password"
				placeholder="password"><br>
			<button type="submit">Submit</button>
		</form>

		<li><a href="/consumerLogin">Login</a></li>
	</div>
</body>
</html>
