<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Registration</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f2f2f2;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }

        .registration-container {
            background-color: #fff;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            padding: 50px;
            border-radius: 5px;
            text-align: center;
        }

        .registration-container h2 {
            margin: 10px 0;
        }

        .registration-form {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .input-group {
            margin: 10px 0;
        }

        .input-group input {
            width: 100%;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            font-size: 16px;
        }

		

        .submit-button {
            background-color: #004F1D;
            color: #fff;
            border: none;
            border-radius: 5px;
            padding: 10px 20px;
            font-size: 16px;
            cursor: pointer;
        }

		.submit-button:hover {
			background-color: #002F1D;
		}

        .login-link {
            margin-top: 20px;
            text-align: center;
        }

        .login-link a {
            text-decoration: none;
            color: #004F1D;
        }
		.login-link a:hover{
			color: #002F1D;
		}
        
        .logo {
            text-align: center;
        }

        .logo img {
            width: 150px; /* Adjust the width as needed */
        }
    </style>
</head>
<body>
    <div class="registration-container">
        <div class="logo">
            <img src="your-logo.png" alt="Website Logo">
        </div>
        <h2><em style="color: #004F1D;">Customer</em> Registration</h2>
        <form class="registration-form" action="/consumerRegister" method="POST">
            <div class="input-group">
                <input type="text" name="username" placeholder="Full Name" required>
            </div>
            <div class="input-group">
                <input type="tel" id="No" name="No" placeholder="Phone Number" required>
            </div>
            <div class="input-group">
                <input type="email" id="email" name="email" placeholder="Email" required>
            </div>
            <div class="input-group">
                <input type="password" name="password" placeholder="Password" required>
            </div>
            <button type="submit" class="submit-button">Register</button>
        </form>
        <div class="login-link">
            Already registered? <a href="/consumerLogin">Log in</a>
        </div>
    </div>
</body>
</html>
